@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.font-ui{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.f-07{font-size: .75rem;}
.f-08{font-size: .8rem;}
.f-09{font-size: .9rem;}
.f-1{font-size: 1rem;}
.f-12{font-size: 1.2rem;}
.f-15{font-size: 1.5rem;}
.f-18{font-size: 1.8rem;}
.bold-1{font-weight: 100;}
.bold-5{font-weight: 500;}
h1{font-size: 2.6rem;}
h5{font-size: 0.9rem;}
.txt_subtitle{color: #757575a1;}
.txt_white{color: azure;}
.txt_center{text-align: center;}
.txt_grey{color: #434343;}

.br-04{border-radius: 0.4rem;}
.br-50{border-radius: 50%;}
.of-scrollx{overflow-x: scroll;}
.of-hidden{overflow: hidden;}

.bg-yellow{background-color: darkgoldenrod;}
.bg-green{background-color: darkolivegreen;}
.bg-white{background-color: var(--bg_article);}
.bg-red{background-color: rgb(154, 55, 55);}
.bg-blue{background-color: rgb(42, 42, 154);}
.bg-black{background-color: var(--bg_secondary);}

.bg-trans{background-color: transparent;}

.align_txt{text-align: center;}

.dp-none{display: none;}
.flex{display: flex;}
.flex_centerx{align-items: center;}
.flex_centery{justify-content: center;}
.flex_spbw{justify-content: space-between;}
.flex_spar{justify-content: space-around;}
.flex_column{flex-direction: column;}
.flex-end{justify-content: flex-end;}
.float-r{float: right;}
.gap-1{gap: .5rem;}
.gap-2{gap: 2rem;}
.gap-3{gap: 1rem;}

.fixed{position: fixed;}
.sticky{position: sticky;}
.width17{width: 17rem;}
.width16{width: 16rem;}
.p-05{padding: 0.3rem;}
.p-1{padding: 0.6rem;}
.p-15{padding: 0.8rem;}
.p-2{padding: 1rem;}
.m-1{margin: 0.6rem;}
.ptop-1{padding-top: 0.6rem;}
.pbot-1{padding-bottom: 0.6rem;}
.ptop-2{padding-top: 1.2rem;}
.pbot-2{padding-bottom: 1.2rem;}
.ptop-3{padding-top: 2rem;}
.pbot-3{padding-bottom: 2rem;}
.i-selected{text-shadow: 1px 1px 2px #a16c0a, 0 0 1em #a16c0a, 0 0 0.2em #a16c0a;}
.cover{object-fit: cover;}
.default_cont{
    background-color: var(--bg_article);
    border-radius: .4rem;
}
.nav-item {
    color: #333232;
    transition: text-shadow 0.5s ease;
}
.max_content{
    height: 100%;
    width: 100%;
}
.nav-item.selected {
    text-shadow: 1px 1px 2px #a16c0a, 0 0 1em #a16c0a, 0 0 0.2em #a16c0a;
}
.grid-center{
    display: grid;
    place-items: center;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/downloadedImage.png");
    background-position: center;
    background-size: cover;
}
main{
    height: 80%;
    
}
header{
    width: 100%;
    height: 12%;
}
footer{
    width: 100%;
    height: 8%;
}
.button_login{
    width: 20rem;
    background-color: var(--bg_secondary);
    color: var(--txt_light);
}
.avatar{
    object-fit: cover;
    border-radius: 50%;
    height: 3rem;
    width:  3rem;
}
.plegado{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Número de líneas a mostrar */
    overflow: hidden;
    text-overflow: ellipsis;
}
.plegado-1{
    -webkit-line-clamp: 1; /* Número de líneas a mostrar */
}
.search{
    border: none;
    appearance: none;
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button{
    appearance: none;
}
.search-bar{
    position: relative;
    span{
        position: absolute;
        right: 0.5rem;
    }
}
#tittle{
    width: 100%;
    height: 60%;
    padding-top: 10rem;
    div{width: 15rem;}
}
#notifications{
    article{
        flex: 0 0 10rem;
        height: 10rem;
        width: 10rem;
        div{
            height: 50%;
            width: 100%;
        }
    }
}
#links{
    margin-top: 7rem;
}
#nav{
    bottom: 0;
    border-top: 2px solid rgba(128, 128, 128, 0.288);
}
#storys_cont{
    height: 16rem;
    width: 100%;
    .storys__header{
        height: 20%;
    }
}
#storys{
    height: 80%;
    article{
        flex: 0 0 8.5rem;
        height: 100%;
    }
}
#content{
    margin-bottom: 4rem;
}
#users{
    article{
        height: 4.2rem;
    }
}
#chats_cont{
    article{
        height: 4.2rem;
    }
}
/* #chat_cont{
    article{
        clear: both;
        max-width: 70%;
        margin: .25rem;
    }
    .msg-left{
        float: left;
        background-color: #ebeaea;
    }
    .msg-right{
        float: right;
        background-color: #3797f0;
    }
} */
#chat_cont {
    padding-top: 6rem;
    gap: 10px;
    article {
        max-width: 75%;
    }
    .msg-left {
        align-self: flex-start;
        background-color: #e0e0ff;
    }
    .msg-right {
        align-self: flex-end;
        background-color: #3797f0; 
    }
}

