@import url("colors.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.f-07{font-size: .75rem;}
.f-08{font-size: .8rem;}
.f-09{font-size: .9rem;}
.bold-1{font-weight: 100;}
.bold-5{font-weight: 500;}
h1{font-size: 2.6rem;}
h5{font-size: 0.9rem;}
.txt_subtitle{color: rgb(117, 117, 117);}
.br-04{border-radius: 0.4rem;}
.br-50{border-radius: 50%;}
.of-scrollx{overflow-x: scroll;}
.of-hidden{overflow: hidden;}
.bg-yellow{background-color: darkgoldenrod;}
.bg-green{background-color: darkolivegreen;}

body{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/downloadedImage.png");
    background-position: center;
    background-size: cover;
   
}
/* header, main, footer{
    overflow-y:;
} */
main{
    height: 80%;
    
}
header{
    width: 100%;
    height: 12%;
}

footer{
    width: 100%;
    height: 8%;
    background-color: red;
}

.max_content{
    height: 100%;
    width: 100%;
}
.grid_center{
    display: grid;
    place-items: center;
}

.margin1rem{
    margin: 1rem;
}
.align_txt{
    text-align: center;
}

.flex{
    display: flex;
}

.flex_centerx{
    align-items: center;
}
.flex_centery{
    justify-content: center;
}
.flex_spbw{
    justify-content: space-between;
}

.flex_column{
    flex-direction: column;
}
.flex-end{
    justify-content: flex-end;
}
.gap-1{
    gap: .5rem;
}
.button_login{
    width: 20rem;
    background-color: var(--bg_secondary);
    color: var(--txt_light);
}

.width17{
    width: 17rem;
}

.p-1{
    padding: 0.6rem;
}

#tittle{
    width: 100%;
    height: 60%;
    padding-top: 5rem;
    div{width: 15rem;}
}

.avatar{
    border-radius: 50%;
    height: 3rem;
}
.default_cont{
    background-color: whitesmoke;
    border-radius: .4rem;
}

#notifications{
    article{
        flex: 0 0 10rem;
        height: 10rem;
        width: 10rem;
        div{
            height: 50%;
            width: 100%;
        }
    }
}
#posts{

}
