@import url("colors.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f-07{font-size: .75rem;}
.f-08{font-size: .8rem;}
.f-09{font-size: .9rem;}
.f-12{font-size: 1.2rem;}
.bold-1{font-weight: 100;}
.bold-5{font-weight: 500;}
h1{font-size: 2.6rem;}
h5{font-size: 0.9rem;}
.txt_subtitle{color: #757575a1;}
.br-04{border-radius: 0.4rem;}
.br-50{border-radius: 50%;}
.of-scrollx{overflow-x: scroll;}
.of-hidden{overflow: hidden;}

.bg-yellow{background-color: darkgoldenrod;}
.bg-green{background-color: darkolivegreen;}
.bg-white{background-color: var(--bg_article);}

.margin1rem{margin: 1rem;}
.align_txt{text-align: center;}

.flex{display: flex;}
.flex_centerx{align-items: center;}
.flex_centery{justify-content: center;}
.flex_spbw{justify-content: space-between;}
.flex_spar{justify-content: space-around;}
.flex_column{flex-direction: column;}
.flex-end{justify-content: flex-end;}
.gap-1{gap: .5rem;}
.gap-2{gap: 2rem}

.fixed{position: fixed;}

.width17{width: 17rem;}
.p-1{padding: 0.6rem;}
.p-2{padding: 1rem;}
.ptop-1{padding-top: 0.6rem;}
.pbot-1{padding-bottom: 0.6rem;}
.i-selected{text-shadow: 1px 1px 2px #a16c0a, 0 0 1em #a16c0a, 0 0 0.2em #a16c0a;}

.nav-item {
    transition: text-shadow 0.5s ease;
}

.nav-item.selected {
    text-shadow: 1px 1px 2px #a16c0a, 0 0 1em #a16c0a, 0 0 0.2em #a16c0a;
}

body{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/downloadedImage.png");
    background-position: center;
    background-size: cover;
}

main{
    height: 80%;
}
header{
    width: 100%;
    height: 12%;
}

footer{
    width: 100%;
    height: 8%;
}

.max_content{
    height: 100%;
    width: 100%;
}

.grid_center{
    display: grid;
    place-items: center;
}

.button_login{
    width: 20rem;
    background-color: var(--bg_secondary);
    color: var(--txt_light);
}

#tittle{
    width: 100%;
    height: 60%;
    padding-top: 5rem;
    div{width: 15rem;}
}

.avatar{
    border-radius: 50%;
    height: 2.7rem;
}
.default_cont{
    background-color: var(--bg_article);
    border-radius: .4rem;
}

#notifications{
    article{
        flex: 0 0 10rem;
        height: 10rem;
        width: 10rem;
        div{
            height: 50%;
            width: 100%;
        }
    }
}

#nav{
    bottom: 0;
    border-top: 2px solid rgba(128, 128, 128, 0.288);
}