<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
</head>

<body>
    <header class="flex flex_centerx flex_spbw p-1">
        <h2>Hello Name</h2>
        <img src="https://randomuser.me/api/portraits/men/83.jpg" class="avatar" />
    </header>
    <main>
        <section id="notifications" class="flex p-1 of-scrollx gap-1">
            <article class="default_cont p-1">
                <div>
                    <span class="bg-yellow br-50 p-1 material-symbols-outlined">
                        notifications
                    </span>
                </div>
                <div>
                    <h5 class="txt_subtitle bold-5">Notifications</h5>
                    <h2>10 News</h2>
                </div>
            </article>
            <article class="default_cont p-1">
                <div>
                    <span class="bg-green br-50 p-1 material-symbols-outlined">
                        event
                    </span>
                </div>
                <div>
                    <h5 class="txt_subtitle bold-5">Events</h5>
                    <h2>5 invites</h2>
                </div>
            </article>
            <article class="default_cont p-1">
                <div>
                    <span class="bg-yellow br-50 p-1 material-symbols-outlined">
                        notifications
                    </span>
                </div>
                <div>
                    <h5 class="txt_subtitle bold-5">Notifications</h5>
                    <h2>10 News</h2>
                </div>
            </article>
            <article class="default_cont p-1">
                <div>
                    <span class="bg-yellow br-50 p-1 material-symbols-outlined">
                        notifications
                    </span>
                </div>
                <div>
                    <h5 class="txt_subtitle bold-5">Notifications</h5>
                    <h2>10 News</h2>
                </div>
            </article>
        </section>

        <section id="posts" class="p-1 flex gap-2 flex_column">
            <article class="default_cont p-1">
                <header class="flex flex_spbw pbot-1">
                    <div class="flex gap-1">
                        <img src="https://randomuser.me/api/portraits/women/9.jpg" alt="" class="avatar" />
                        <div class="">
                            <h5>Lorraine Mum</h5>
                            <h5 class="txt_subtitle f-07">1hour ago</h5>
                        </div>
                    </div>
                    <div class="grid_center">
                        <span class="material-symbols-outlined"> more_horiz </span>
                    </div>
                </header>
                <main>
                    <div class="">
                        <img class="br-04 max_content"
                            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/5f/41/f1/cajon-del-maipo-com-fundo.jpg?w=1400&h=1400&s=1"
                            alt="" />
                    </div>
                </main>
                <footer class="flex flex_spar ptop-1">
                    <span class="material-symbols-outlined"> favorite </span>
                    <span class="material-symbols-outlined"> chat_bubble </span>
                    <span class="material-symbols-outlined"> share </span>
                </footer>
            </article>

        </section>
    </main>
    <footer id="nav" class="fixed bg-white">
        <div class="max_content flex flex_centerx flex_spar transition">
            <span id="home" class="material-symbols-outlined f-12 nav-item">
                home
            </span>
            <span id="fyp" class="material-symbols-outlined f-12 nav-item">
                diversity_1
                </span>
            <span id="search" class="material-symbols-outlined f-12 nav-item">
                search
            </span>
            <span id="chats" class="material-symbols-outlined f-12 nav-item">
                forum
            </span>
            <span id="user" class="material-symbols-outlined f-12 nav-item">
                person
            </span>
        </div>
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>